.hero {
    text-align: center;
    padding: 200px 0;
    list-style: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
  
.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 690px;
  }
  
  .hero__btn {
    border-radius: 4px;
    border: solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    min-width: 216px;
    display: inline-block;
    align-items: center;
    text-align: center;
    cursor: pointer;
   
    transition: color 250ms cubic-bezier(0.4, 0 , 0.2, 1);
  }
  